@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-left: 100px;
    height: 60px;
}
.custom-navbar {
    background-color:rgb(242, 245, 248);
    padding: 5px 15px;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    position: fixed;
}
.custom-nav-items {
    margin-left: auto;
    font-size: 25px;
}
.logo {
    width: 45px;
    height: auto;
}

/* Login and SignUp */

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-top: 30px;
}
.heading {
    color: #000000;
    text-align: left;
    /* font-size: 30px; */
}
.headerparagraph{
    color: rgba(100, 116, 139, 1);
}
.image-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    max-width: 60%;
    height: auto;
}
.form-container {
    max-height: 95vh;
    padding: 70px;
    box-sizing: border-box;
    width: 550px;
}
.nav-text{
    font-size: 30px;
}
.form-group {
    margin-bottom: 10px;
}
.labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.inputs {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    width: 100%;
}
.form-group.button {
    display: flex;
    justify-content: center;
}
.button{
    button, input{
        width: 100%;
    }
}
.submit-btn {
    background: linear-gradient(79.69deg, #1D4ED8 -0.64%, #5AD7FE 107.84%);
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
.submit-btn:hover {
    background-color: #172add;
}

.checkbox-container input[type="checkbox"] {
    display: none;
}

.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    padding-bottom: 20px;
    cursor: pointer;
    user-select: none;
}

.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 4px;
}

.checkbox-container input[type="checkbox"]:checked + .checkmark {
    background: linear-gradient(79.69deg, #1D4ED8 -0.64%, #5AD7FE 107.84%);;
}

.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input[type="checkbox"]:checked + .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
    

@media (max-width: 1200px) {
    .login-container {
        flex-direction: column;
        margin: 0;
        height: auto;
    }

    .image-container {
        position: relative;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .image {
        width: 600px;
    }

    .form-container {
        margin-top: 80px;
        margin-left: 0;
        padding: 20px;
        width: 100%;
        max-height: none;
    }
    .nav-items{
        padding-left: 0px;
    }
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .image-container {
        margin: 20px;
    }
    .image {
        margin-top: 30px;
        width: 400px;
    }
    .form-container {
        width: 90%;
    }
    .nav-items{
        padding-left: 0px;
    }
}

@media (max-width: 576px) {
    .heading {
        font-size: 28px;
    }
    .nav-items{
        padding-left: 0px;
    }
}

/* Password Toggle */

.password-container {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
.text-below-image{
    text-align: center;
}
.password-toggle-icon i {
    font-size: 18px;
    line-height: 1;
    color: #1625AD;
    transition: color 0.3s ease-in-out;
}

/* Alert and Errors */

.alertalert-danger{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    background: #f7f7f7;
    color: #000000;
    padding: 20px;
}
.error{
    
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}
.mssg{
    border: 1px solid #bf1515;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.err_p{
    margin: 0;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
    font-weight: 500;
    font-size: 13px;
}
.error_img{
    height:20px; 
    width:20px;
}
.text-danger{
    color: red;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.text-safe{
    color: rgb(76, 220, 37);
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.disabled{
    background-color: rgb(224, 224, 224);
}
.success-container{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
}
.signupsuccessimg{
    width:900px;
    height: auto;
}
.success_login{
    padding-top: 30px;
}
.forgot-password{
    text-decoration: none;
    color:rgba(29, 78, 216, 1);
}