@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@264&display=swap'); */

.font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* Navbar and Main Home Page */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.custom-navbar {
    background-color: #1625AD;
    padding: 5px 15px;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    position: fixed;
}
.custom-nav-items {
    margin-left: auto;
    font-size: 25px;
}
.logo {
    width: 80px;
    height: auto;
}
.home-btn, .profile-btn, .logout-btn {
    color: white;
    cursor: pointer;
}
.home-btn:hover, .profile-btn:hover, .logout-btn:hover {
    color: white;
}
.logout-btn {
    background-color: rgb(210, 37, 37);
    padding: 5px;
    margin-top: 12px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
}
.logout-btn:hover {
    background-color: rgb(231, 18, 18);
}
.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .profile-container {
        flex-direction: column;
    }
}
.details {
    width: 400px;
    float: left;
}
.heading {
    color: #1625AD;
    text-align: center;
    font-size: 36px;
}
.font1 {
    color: #1625AD;
    text-align: center;
    font-size: 24px;
}
.forms {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 600px); 
    max-height: 600px; 
    overflow-y: scroll;
    padding: 0 20px;
    box-sizing: border-box;
}
.form-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
}
.form-group {
    margin-bottom: 10px;
}
.labels {
    display: block;
    margin-bottom: 5px;
}
.info {
    display: flex;
    align-items: center;
    border-bottom: 1px #e7e7e7;
    padding-bottom: 5px;
    padding-left: 5px;
}

.icon {
    height: 50px;
    width: auto;
    border-radius: 50%;
}
.icon1{
    margin-right: 3px;
}

.text {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.name {
    font-weight: bold;
    margin: 0;
    font-size: 15px;
}
.dropdown-menu li {
    width: max-content;
    min-width: 200px;
    max-width: 400px; 
}
.dropdown-menu{
    margin-left: -60px;
}
.email {
    margin: 0;
    font-size: 10px;
}
.inputs {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    background-color: #e3f1fc;
}
.form-group.button {
    display: flex;
    justify-content: center;
}
.submit-btn {
    background-color: #1625AD;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #172add;
}
.yes-button {
    padding: 5px 20px;
    background-color: green;
    border-radius: 10px;
    color: white;
}
.no-button {
    padding: 5px 20px;
    background-color: red;
    border-radius: 10px;
    color: white;
}

@media (max-width: 1200px) {
    .details, .forms {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .dropdown-menu{
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .details {
        order: 1;
    }

    .forms {
        order: 2;
    }
    .dropdown-menu{
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .heading {
        font-size: 28px;
    }
    .dropdown-menu{
        margin-left: 0;
    }
}

/* Pop-up */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 3px solid #ccc;
    z-index: 9999;
}
/* Alerts and Errors */
.alertalert-danger{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    background: #f7f7f7;
    color: #000000;
    padding: 20px;
}
.error{
    
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}
.mssg{
    border: 1px solid #bf1515;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.err_p{
    margin: 0;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
    font-weight: 500;
    font-size: 13px;
}
.error_img{
    height:20px; 
    width:20px;
}
.text-danger{
    color: red;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.text-safe{
    color: rgb(76, 220, 37);
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.disabled{
    background-color: rgb(224, 224, 224);
}
.profile{
    display: flex;
    justify-content: center;
}
.profile-pic {
    width: 200px;
    max-height: 200px;
    display: inline-block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 100% !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    top: 72px;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}
.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}